.wrapper_with_padding
	#profiles.clearfix
		- @profiles.each do |profile|
			.profile
				%p.title= link_to profile.first_name + (' ') + profile.last_name, job_profile_path(@job,profile)
				%p.date= time_ago_in_words(profile.created_at)
			%br
	